@{
  var currentPage = Context.Request.Path;
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gawo.styles.css" asp-append-version="true" />
  </head>
  <script>
    function setTheme()
    {
      const dm = document.cookie.replace(/(?:(?:^|.*;\s*)dm\s*\=\s*([^;]*).*$)|^.*$/, "$1");
      const html = document.querySelector("html");
      html.setAttribute("data-bs-theme", dm == "dark" ? "dark" : "light");
    }
    function toggleTheme()
    {
      const dm = document.cookie.replace(/(?:(?:^|.*;\s*)dm\s*\=\s*([^;]*).*$)|^.*$/, "$1");
      
      const newDm = dm == "dark" ? "light" : "dark";
      document.cookie = `dm=${newDm}; path=/;`;

      setTheme();
    }

    window.addEventListener("load", setTheme());
  </script>

  <body class="overflow-scroll">
    <div class="container">

      <button class="btn btn-outline-primary toggle-sidebar" onclick="toggleSidebar()" style="z-index: 1025;">Menü</button>

      <div class="offcanvas offcanvas-start show" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" id="sidebar">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title"><a class="home" href="/">Gaußwoche @DateTime.Now.Year</a></h5>
        </div>
        <div class="offcanvas-body">
          <div class="d-grid gap-2">
            <button type="button" onclick="window.location.href='/';" class='btn btn-outline-primary btn-block @(currentPage == "/" ? "active" : "")'>Home</button>
            <button type="button" onclick="window.location.href='/Profile';" class='btn btn-outline-primary btn-block @(currentPage == "/Profile" ? "active" : "")'>Profil</button>
            <button type="button" onclick="window.location.href='/Points';" class='btn btn-outline-primary btn-block @(currentPage == "/Points" ? "active" : "")'>Punkte</button>
            <button type="button" onclick="window.location.href='/AddEvent';" class='btn btn-outline-primary btn-block @(currentPage == "/AddEvent" ? "active" : "")'>Veranstaltung Anmelden</button>
            <button type="button" onclick="window.location.href='/MyEvents';" class='btn btn-outline-primary btn-block @(currentPage == "/MyEvents" ? "active" : "")'>Meine Veranstaltungen</button>
            <button type="button" onclick="window.location.href='/VisitedEvents';" class='btn btn-outline-primary btn-block @(currentPage == "/VisitedEvents" ? "active" : "")'>Besuchte Veranstaltungen</button>
            <button type="button" onclick="window.location.href='/Logout';" class="btn btn-danger btn-block">Abmelden</button>
            <button type="button" onclick=toggleTheme() class="btn btn-outline-primary btn-block">Thema-Switch</button>
          </div>
        </div>
      </div>
      <div class="content">
        <main role="main">
          @RenderBody()
        </main>
      </div>
    </div>

    <script>
      var sidebar = document.getElementById("sidebar");
      var toggle = 0;

      function toggleSidebar()
      {
        if (toggle == 1)
        {
          sidebar.style.display = "none";
          toggle = 0;
        }
        else
        {
          sidebar.style.display = "block";
          sidebar.style.width = "100vw";
          sidebar.style.zIndex = "1024";
          toggle = 1;
        }
      }
    </script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
