@page
@using Microsoft.AspNetCore.Authorization
@model GaWo.Controllers.AddEventModel
@{
    ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year}";
}

<div class="content">
    <h2 class="header">Anmeldung</h2>
    <hr class="border border-primary opacity-50">

    @if (Model.Error.Item1 == true)
    {
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-danger d-flex align-items-center mb-5" style="margin-top: 1em; margin-bottom: -2em;"
             role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div>
                @Html.Raw(Model.Error.Item2)
            </div>
        </div>
    }

    <form method="post" asp-page-handler="AddEvent" class="container">
        <div class="row mb-3">
            <div class="col">
                <label for="name" class="form-label" asp-for="Name">Name<sup>*</sup></label>
                <input type="text" class="form-control" id="name" name="name" maxlength="64" placeholder="Name der Veranstaltung" required>
            </div>
            <div class="col">
                <label for="type" class="form-label" asp-for="Type">Veranstaltungstyp<sup>*</sup></label>
                <select class="form-select" id="type" name="type" asp-for="Type" required
                        onchange="const type = document.getElementById('type'); if (type.value !== 'NULL') { document.getElementById('duration').removeAttribute('disabled') } else { document.getElementById('duration').toggleAttribute('disabled') } durationReload()">
                    <option selected disabled value="NULL">Veranstaltungstyp auswählen</option>
                    <option value="PRESENTATION">Vortrag</option>
                    <option value="GPRESENTATION">Gastvortrag</option>
                    <option value="FLANGPRESENTATION">Fremdsprachenvortrag</option>
                    <option value="THESISDEF">Facharbeitsverteidigung</option>
                    <option value="COMPETITION">Wettbewerb</option>
                    <option value="WORKSHOP">Workshop</option>
                    <option value="QF">Q/F</option>
                    <option value="SPORT">Sportveranstaltung</option>
                    <option value="ELMOS">ELMOS</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="description" class="form-label" asp-for="Description">Beschreibung<sup>*</sup></label>
                <textarea class="form-control" maxlength="256" minlength="15"
                          name="description" id="description" rows="5" style="resize: none;" required></textarea>
            </div>
            <div class="col">
                <label for="duration" class="form-label" asp-for="Duration">Dauer<sup>*</sup></label>
                <select class="form-select mb-4" id="duration" name="duration" required disabled>
                    <script>
                        function durationReload() {
                            // This Is Ugly
                            let selected = document.getElementById('type').value;
                            let target = document.getElementById('duration');

                            while (target.options.length > 0)
                                target.remove();

                            switch (selected) {
                                case 'WORKSHOP':
                                case 'COMPETITION': {
                                    let zero = document.createElement('option');
                                    zero.value = '';
                                    zero.text = 'Dauer auswählen';
                                    target.add(zero);

                                    let one = document.createElement('option');
                                    one.value = '45';
                                    one.text = '45 Minuten';
                                    target.add(one);

                                    let two = document.createElement('option');
                                    two.value = '90';
                                    two.text = '90 Minuten';
                                    target.add(two);

                                    let three = document.createElement('option');
                                    three.value = '135';
                                    three.text = '135 Minuten';
                                    target.add(three);

                                    let four = document.createElement('option');
                                    four.value = '180';
                                    four.text = '180 Minuten';
                                    target.add(four);

                                    let five = document.createElement('option');
                                    five.value = '240';
                                    five.text = '240 Minuten';
                                    target.add(five);
                                    break;
                                }
                                case 'ELMOS':
                                case 'THESISDEF':
                                case 'FLANGPRESENTATION': {
                                    let zero = document.createElement('option');
                                    zero.value = '';
                                    zero.text = 'Dauer auswählen';
                                    target.add(zero);

                                    let one = document.createElement('option');
                                    one.value = '45';
                                    one.text = '45 Minuten';
                                    target.add(one);

                                    let two = document.createElement('option');
                                    two.value = '90';
                                    two.text = '90 Minuten';
                                    target.add(two);
                                    break;
                                }
                                case 'SPORT':
                                case 'QF':
                                case 'GPRESENTATION':
                                case 'PRESENTATION': {
                                    let zero = document.createElement('option');
                                    zero.value = 'NULL';
                                    zero.text = 'Dauer auswählen';
                                    zero.setAttribute("selected", "true");
                                    zero.setAttribute("disabled", "true");
                                    target.add(zero);

                                    let one = document.createElement('option');
                                    one.value = '45';
                                    one.text = '45 Minuten';
                                    target.add(one);

                                    let two = document.createElement('option');
                                    two.value = '90';
                                    two.text = '90 Minuten';
                                    target.add(two);

                                    let three = document.createElement('option');
                                    three.value = '135';
                                    three.text = '135 Minuten';
                                    target.add(three);

                                    let four = document.createElement('option');
                                    four.value = '180';
                                    four.text = '180 Minuten';
                                    target.add(four);
                                    break;
                                }
                            }
                        }
                    </script>
                </select>
                <label for="capacity" class="form-label" asp-for="Capacity">Teilnehmeranzahl<sup>*</sup></label>
                <input class="form-control" type="number" min="0" max="200" name="capacity" id="capacity" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                @{
                    // Whether User Is Part Of AdminOnly Policy
                    var x = await Model.AuthorizationService.AuthorizeAsync(User, "AdminOnly");

                    if (x.Succeeded)
                    {
                        <label for="organiser" class="form-label" asp-for="Organiser">Organisator<sup>*</sup></label>
                        <select class="form-select" id="organiser" name="organiser" asp-for="Organiser" required>
                            <option selected disabled value="NULL">Organisator auswählen</option>
                            @{
                                var options = await Model.Db.Select<GawoUser>("Users");

                                foreach (var option in options)
                                {
                                    <option value="@option.Id">@option.FirstName @option.LastName</option>
                                }
                            }
                        </select>
                    }
                    else
                    {
                        <label for="organiser" class="form-label" asp-for="Organiser">Organisator:</label>
                        <input type="text" class="form-control" id="organiser" name="organiser" disabled
                               value="@HttpContext.User.Identity!.Name" placeholder="@HttpContext.User.Identity.Name">
                        <input type="hidden" asp-for="Organiser" value="@HttpContext.User.Identity.Name">
                    }
                }
            </div>
            <div class="col">
                <label for="subject" class="form-label" asp-for="Subject">Fach<sup>*</sup></label>
                <select class="form-select" id="subject" name="subject" asp-for="Subject" required>
                    <option selected disabled value="NULL">Fachbereich auswählen</option>
                    @{
                        // TODO: Remove Hardcoded Path
                        foreach (var line in System.IO.File.ReadLines("/home/fedora/Programming/gawo/wwwroot/subjects"))
                        {
                            <option value="@line.Split(",")[0]">@line.Split(",")[1]</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="picture" class="form-label" asp-for="Picture">Optionales Bild</label>
                <input type="file" asp-for="Picture" class="form-control custom-file-input" id="picture" name="picture" accept="image/*">

                <div class="row mt-3">
                    <label class="form-label">Jahrgangsstufen<sup>*</sup></label>
                    <div class="col">
                        <input type="checkbox" asp-for="Grade5" class="form-check-input" id="grade5" name="Grade5">
                        <label for="grade5" class="form-check-label">5</label>

                        <input type="checkbox" asp-for="Grade6" class="form-check-input" id="grade6" name="Grade6">
                        <label for="grade6" class="form-check-label">6</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" asp-for="Grade7" class="form-check-input" id="grade7" name="Grade7">
                        <label for="grade7" class="form-check-label">7</label>

                        <input type="checkbox" asp-for="Grade8" class="form-check-input" style="margin-left: 0.58rem;"
                               id="grade8" name="Grade8">
                        <label for="grade8" class="form-check-label">8</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="checkbox" asp-for="Grade9" class="form-check-input" id="grade9" name="Grade9">
                        <label for="grade9" class="form-check-label">9</label>

                        <input type="checkbox" asp-for="Grade10" class="form-check-input" id="grade10" name="Grade10">
                        <label for="grade10" class="form-check-label">10</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" asp-for="Grade11" class="form-check-input" id="grade11" name="Grade11">
                        <label for="grade11" class="form-check-label">11</label>

                        <input type="checkbox" asp-for="Grade12" class="form-check-input" id="grade12" name="Grade12">
                        <label for="grade12" class="form-check-label">12</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <label for="notes" class="form-label">Bemerkung</label>
                <textarea asp-for="Notes" class="form-control" placeholder="Bemerkung für das GaWo-Team" rows="5"
                          id="notes" style="resize: none;"></textarea>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">
                Veranstaltung anmelden <i class="fa-solid fa-arrow-up-from-bracket"></i>
            </button>
        </div>
    </form>
</div>