@page
@model AddEventModel
@{
  ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year}";
}

<style>
.content
{
  transform: scale(0.98);
  transform-origin: center top;
  margin-left: -0.2% !important;
  width: 90% !important;
}
</style>

<div class="content" style="height: 100%;">
<h2 class="header">Anmeldung</h2>
<hr class="border border-primary opacity-50">

<h3 class="text-danger">@Model.ErrorString</h3>

  <form class="row g-3">
    <div class="col-md-6">
      <label for="name" class="form-label" asp-for="Name">Name</label>
      <input type="text" class="form-control" id="name" maxlength="64" placeholder="Name Der Veranstaltung" required>
      <br>

      <label for="description" class="form-label" asp-for="Description">Beschreibung</label>
      <textarea class="form-control" name="description" id="description" cols="30" rows="5" style="resize: none;" required></textarea>
      <br>

      <label for="room" class="form-label" asp-for="Room">Raum:</label>
      <select class="form-select" id="room" name="room" required>
        <option value="">Raum Auswählen</option>
        @{
          foreach(string line in System.IO.File.ReadLines("rooms"))
          {
            <option value="@line.Split(",")[0]">@line.Split(",")[1]</option>
          }
        }
      </select>
      <br>

      <label for="capacity" class="form-label" asp-for="Capacity">Teilnehmeranzahl</label>
      <input class="form-control" type="number" min="0" max="255" name="capacity" id="capacity" required>
      <br>

      <label for="duration" class="form-label" asp-for="Duration">Dauer:</label>
      <select class="form-select" id="duration" name="duration" required disabled>
      <script>
        function durationReload()
        {
          // This Is Ugly
          var selected = document.getElementById('type').value;
          var target = document.getElementById('duration');

          while (target.options.length > 0)
            target.remove(0);

            switch (selected)
            {
              case 'WORKSHOP':
              case 'COMPETITION':
              {
                var zero = document.createElement('option');
                zero.value = '';
                zero.text = 'Dauer Auswählen';
                target.add(zero);

                var one = document.createElement('option');
                one.value = '45';
                one.text = '45 Minuten';
                target.add(one);

                var two = document.createElement('option');
                two.value = '90';
                two.text = '90 Minuten';
                target.add(two);

                var three = document.createElement('option');
                three.value = '135';
                three.text = '135 Minuten';
                target.add(three);

                var four = document.createElement('option');
                four.value = '180';
                four.text = '180 Minuten';
                target.add(four);

                var five = document.createElement('option');
                five.value = '240';
                five.text = '240 Minuten';
                target.add(five);
                break;
              } 
              case 'ELMOS':
              case 'THESISDEF':
              case 'FLANGPRESENTATION':
              {
                
                var zero = document.createElement('option');
                zero.value = '';
                zero.text = 'Dauer Auswählen';
                target.add(zero);

                var one = document.createElement('option');
                one.value = '45';
                one.text = '45 Minuten';
                target.add(one);

                var two = document.createElement('option');
                two.value = '90';
                two.text = '90 Minuten';
                target.add(two);
                break;
              }
              case 'SPORT':
              case 'QF':
              case 'GPRESENTATION':
              case 'PRESENTATION':
              {
                var zero = document.createElement('option');
                zero.value = '';
                zero.text = 'Dauer Auswählen';
                target.add(zero);

                var one = document.createElement('option');
                one.value = '45';
                one.text = '45 Minuten';
                target.add(one);

                var two = document.createElement('option');
                two.value = '90';
                two.text = '90 Minuten';
                target.add(two);

                var three = document.createElement('option');
                three.value = '135';
                three.text = '135 Minuten';
                target.add(three);

                var four = document.createElement('option');
                four.value = '180';
                four.text = '180 Minuten';
                target.add(four);
                break;
              }
            }
        }
      </script>
      </select>
    </div>

    <div class="col-md-6">
      <label for="type" class="form-label" asp-for="Type">Veranstaltungstyp</label>
      <select class="form-select" id="type" name="type" asp-for="Type" required onchange="const type = document.getElementById('type'); if (type.value != 'NULL') { document.getElementById('duration').removeAttribute('disabled') } else { document.getElementById('duration').toggleAttribute('disabled') } durationReload()">
      <option value="NULL">Veranstaltungstyp Auswählen</option>
      <option value="PRESENTATION">Vortrag</option>
      <option value="GPRESENTATION">Gastvortrag</option>
      <option value="FLANGPRESENTATION">Fremdsprachenvortrag</option>
      <option value="THESISDEF">Facharbeitsverteidigung</option>
      <option value="COMPETITION">Wettbewerb</option>
      <option value="WORKSHOP">Workshop</option>
      <option value="QF">Q/F</option>
      <option value="SPORT">Sportveranstaltung</option>
      <option value="ELMOS">ELMOS</option>
      </select>
      <br>

      @{
        var configuration = new ConfigurationBuilder()
          .AddJsonFile("appsettings.json")
          .Build();
        bool admin = false;
        using (var connection = new System.Data.SQLite.SQLiteConnection(configuration.GetConnectionString("GawoDbContext")))
        {
          connection.Open();
          string query = "SELECT is_admin FROM users WHERE username = @username";
          using (var command = new System.Data.SQLite.SQLiteCommand(query, connection))
          {
            command.Parameters.AddWithValue("@username", HttpContext.User.Identity!.Name);
            using (var reader = command.ExecuteReader())
            {
              if (reader.Read())
                admin = reader.GetBoolean(0);
            }
          }
          connection.Close();
        }
        if (!admin)
        {
          <select asp-for="Accepted" style="display: none;">
            <option value="false" style="display: none;"></option>
          </select>
        }
        if (admin)
        {
          <select asp-for="Accepted" style="display: none;">
            <option value="true" style="display: none;"></option>
          </select>
            <label for="organiser" class="form-label" asp-for="Organiser">Organisator:</label>
            <select class="form-select" id="organiser" name="organiser" asp-for="Organiser" required>
              <option value="NULL">Organisator Auswählen</option>
              @{
                int _id = -1;
                string _fname = string.Empty;
                string _lname = string.Empty;

                configuration = new ConfigurationBuilder()
                  .AddJsonFile("appsettings.json")
                  .Build();
                using (var connection = new System.Data.SQLite.SQLiteConnection(configuration.GetConnectionString("GawoDbContext")))
                {
                  connection.Open();
                  string query = "SELECT id,first_name,last_name FROM users";
                  using (var command = new System.Data.SQLite.SQLiteCommand(query, connection))
                  {
                    using (var reader = command.ExecuteReader())
                    {
                      while (reader.Read())
                      {
                        _id = reader.GetInt32(0);
                        _fname = reader.GetString(1);
                        _lname = reader.GetString(2);
                        <option value="@_id">@_fname @_lname</option>
                      }
                    }
                  }
                }
              }
            </select>
        }
        else
        {
          <label for="organiser" class="form-label" asp-for="Organiser">Organisator:</label>
          <input type="text" class="form-control" id="organiser" name="organiser" disabled value="@HttpContext.User.Identity.Name" placeholder="@HttpContext.User.Identity.Name">
          <input type="hidden" asp-for="Organiser" value="@HttpContext.User.Identity.Name">
        }
      }
    <br>

    <label for="teacher" class="form-label" asp-for="Teacher">Betreuer</label>
    <select class="form-select" id="teacher" name="teacher" asp-for="Teacher" required>
      <option value="NULL">Betreuer Auswählen</option>
      @{
        int id = -1;
        string fname = string.Empty;
        string lname = string.Empty;
        var configuration = new ConfigurationBuilder()
          .AddJsonFile("appsettings.json")
          .Build();
        using (var connection = new System.Data.SQLite.SQLiteConnection(configuration.GetConnectionString("GawoDbContext")))
        {
          connection.Open();
          string query = "SELECT id,first_name,last_name FROM users WHERE is_teacher = 1";
          using (var command = new System.Data.SQLite.SQLiteCommand(query, connection))
          {
            using (var reader = command.ExecuteReader())
            {
              while (reader.Read())
              {
                id = reader.GetInt32(0);
                fname = reader.GetString(1);
                lname = reader.GetString(2);
                <option value="@id">@fname @lname</option>
              }
            }
          }
          connection.Close();
        }
      }
    </select>
    <br style="margin-bottom: 1.8%;">

    <label for="coorganisers" class="form-label" asp-for="CoOrganisers">Mitorganisator:</label>
    <select class="form-select" id="coorganisers" name="coorganisers" asp-for="CoOrganisers">
      <option value="NULL">Mitorganisatoren hinzufügen</option>
    </select>
    <br>

    <label for="picture" class="form-label" asp-for="Picture">Optionales bild:</label>
    <input type="file" asp-for="Picture" class="form-control custom-file-input" id="picture" name="picture" accept="image/*">
    <br style="margin-bottom: 5%;">

    <label class="form-label">Jahrgangsstufen:</label> 
    <input type="checkbox" asp-for="Grade7" class="form-check-input" id="grade7" name="Grade7">
    <label for="grade7" class="form-check-label">7</label>

    <input type="checkbox" asp-for="Grade8" class="form-check-input" id="grade8" name="Grade8">
    <label for="grade8" class="form-check-label">8</label>

    <input type="checkbox" asp-for="Grade9" class="form-check-input" id="grade9" name="Grade9">
    <label for="grade9" class="form-check-label">9</label>

    <input type="checkbox" asp-for="Grade10" class="form-check-input" id="grade10" name="Grade10">
    <label for="grade10" class="form-check-label">10</label>
    
    <input type="checkbox" asp-for="Grade11" class="form-check-input" id="grade11" name="Grade11">
    <label for="grade11" class="form-check-label">11</label>
    
    <input type="checkbox" asp-for="Grade12" class="form-check-input" id="grade12" name="Grade12">
    <label for="grade12" class="form-check-label">12</label>
    </div>

    <div style="margin-bottom: 0.5%;">
    <textarea asp-for="Notes" class="form-control" placeholder="Optionale Notiz Für Das GaWo-Team" id="notes" style="height: 100px; resize: none;"></textarea>
    </div>

    <div class="d-grid gap-2">
      <input type="submit" class="btn btn-success" value="Veranstaltung Anmelden">
    </div>
  </form>
</div>