@page
@model GaWo.Controllers.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center header">Etwas ist schiefgelaufen :(</h1>
<hr class="border border-danger opacity-50">

<h3 class="text-center">
    <a href="/"><img alt="krtek" src="img/krtek.jpg" height="302"></a>
    <!-- <a class="text-success" href="/">Home</a> --->
</h3>
@if (Model.ShowRequestId)
{
    <p style="text-align: center;">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
        <br>
        <strong>HTTP Methode:</strong> <code>@Request.Method</code>
        <br>
        <strong>Authentifiziert:</strong> <code>@Request.HttpContext.User.Identity!.IsAuthenticated.ToString()</code>
        <br>
        <strong>User-Agent:</strong> <code>@Request.Headers["User-Agent"].ToString()</code>
        <br>
        <strong>Datum:</strong> <code>@DateTime.Now.ToString("yyyy-MM-dd-THH:mm:sszz")</code>
    </p>
}