@page
@model GaWo.Controllers.ErrorModel
@{
    ViewData["Title"] = "GaWo Error";
    var date = $"{DateTime.Now:yyyy-MM-ddTHH:mm:sszz}";
}

<div class="row mt-3">
    <div class="col d-flex flex-row justify-content-between mt-3">
        <button class="menu-button btn btn-outline-primary me-3" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
            <i class="fad fa-bars"></i>
        </button>

        <h2 class="header fw-bold text-danger">Etwas ist schiefgelaufen</h2>
    </div>
</div>
<hr class="border border-primary opacity-50">

<div class="text-center">
    <div>
        <a href="/">
            <img alt="krtek" src="img/krtek_error.png" height="299">
        </a>
    </div>

    <strong class="text-success-emphasis">Request ID:</strong> <code class="text-warning-emphasis">@Model.RequestId</code>
    <br>
    <strong class="text-success-emphasis">HTTP Methode:</strong> <code class="text-warning-emphasis">@Request.Method</code>
    <br>
    <strong class="text-success-emphasis">Query:</strong> <code class="text-warning-emphasis">@Request.Query["referrer"]</code>
    <br>
    <strong class="text-success-emphasis">Authentifiziert:</strong> <code class="text-warning-emphasis">@Request.HttpContext.User.Identity!.IsAuthenticated.ToString()</code>
    <br>
    <strong class="text-success-emphasis">User-Agent:</strong> <code class="text-warning-emphasis">@Request.Headers["User-Agent"].ToString()</code>
    <br>
    <strong class="text-success-emphasis">Datum:</strong> <code class="text-warning-emphasis">@date</code>
</div>
