@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<!--
VERY IMPORTANT;
DONT REMOVE!
-->
<script>NekoType="white"</script>
<h1 id=nl><script src="https://webneko.net/n20171213.js"></script><a 
href="https://webneko.net">Neko</a></h1>
<h1 class="text-danger text-center header">Etwas ist schiefgelaufen :(</h1>
<hr class="border border-danger opacity-50">

<h3 class="text-center"><a class="text-success" href="/">Home</a></h3>
@if (Model.ShowRequestId)
{
    <p style="text-align: center;">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
        <br>
        <strong>HTTP Methode:</strong> <code>@Request.Method.ToString()</code>
        <br>
        <strong>Authentifiziert:</strong> <code>@Request.HttpContext.User.Identity!.IsAuthenticated.ToString()</code>
        <br>
        <strong>User-Agent:</strong> <code>@Request.Headers["User-Agent"].ToString()</code>
        <br>
        <strong>Datum:</strong> <code>@DateTime.Now.ToString("yyyy-MM-dd-THH:mm:sszz")</code>
    </p>
}