@page
@model GaWo.Controllers.IndexModel
@{
    ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year}";
}

<h2 style="font-weight: bold;" class="header">Gaußwoche @DateTime.Now.Year.ToString()</h2>
<hr class="border border-primary opacity-50">

<div class="content text-wrap">
    In diesem Schuljahr wird die Gauß-Festwoche von dem 27. bis 31. März @DateTime.Now.Year.ToString() stattfinden. Bitte beachtet den Anmeldeschluss für Veranstaltungen am @(new DateTime(DateTime.Now.Year, 02, 07).ToString("dddd", new System.Globalization.CultureInfo("de-De"))) den 07. @(new DateTime(DateTime.Now.Year, 02, 07).ToString("MMMM", new System.Globalization.CultureInfo("de-De"))) @DateTime.Now.Year.ToString().
</div>