@page
@model GaWo.Controllers.ProfileModel
@{
    ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year}";
    Model.UserStruct = Model.FillUser().Result;
}

<script>
    function TogglePassword(id)
    {
        if (id === "button1")
        {
            passwordInput = document.getElementById("currentpassword");
            revealer = document.getElementById("revealer1");
        }
        else if (id === "button2")
        {
            passwordInput = document.getElementById("newpassword");
            revealer = document.getElementById("revealer2");
        }
        else if (id === "button3")
        {
            passwordInput = document.getElementById("newpasswordconf");
            revealer = document.getElementById("revealer3");
        }
        if (passwordInput.getAttribute("type") === "text")
        {
            revealer.classList.remove("fa-eye");
            revealer.classList.add("fa-eye-slash");
            passwordInput.setAttribute("type", "password");
        }
        else
        {
            revealer.classList.remove("fa-eye-slash");
            revealer.classList.add("fa-eye");
            passwordInput.setAttribute("type", "text");
        }

    }
</script>

<h2>@Model.UserStruct.FirstName @Model.UserStruct.LastName</h2>
<hr class="border border-primary opacity-50">

Klasse: @Model.UserStruct.Class <br>
E-Mail-Adresse: @Model.UserStruct.Email <br>
Rolle:
@{
    if ((Model.UserStruct.Permissions & (1 << 0)) != 0)
    {
        @: Administrator
    }
    else if ((Model.UserStruct.Permissions & (1 << 1)) != 0)
    {
        @: Lehrer
    }
    else if ((Model.UserStruct.Permissions & (1 << 2)) != 0)
    {
        @: Gast
    }
    else
    {
        @: Schüler
    }
}
<br>

@if (Model.UserStruct.Absence != 0)
{
    string[] days = ["Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag"];
    string[] absent = ["", "", "", "", ""];

    @: Abgemeldet für :

    // TODO: Clean Up This Mess
    if ((Model.UserStruct.Absence & (1 << 0)) != 0)
    {
        absent[0] = days[0];
    }

    if ((Model.UserStruct.Absence & (1 << 1)) != 0)
    {
        absent[1] = days[1];
    }

    if ((Model.UserStruct.Absence & (1 << 2)) != 0)
    {
        absent[2] = days[2];
    }

    if ((Model.UserStruct.Absence & (1 << 3)) != 0)
    {
        absent[3] = days[3];
    }

    if ((Model.UserStruct.Absence & (1 << 4)) != 0)
    {
        absent[4] = days[4];
    }

    // Remove All Days Not Absent
    absent = absent.Where(x => !string.IsNullOrEmpty(x)).ToArray();

    // For Every Day Absent: Add A Comma After It And Print It Except For The Last Day Which Does Not Have A Comma Following
    for (var i = 0; i < absent.Length; i++)
    {
        if (i != absent.Length - 1)
        {
            absent[i] += ", ";
        }

        @absent[i]
    }
}

@if (Model.Error.Item1 == true)
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="alert alert-danger d-flex align-items-center" style="margin-top: 1em; margin-bottom: -2em;" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <div>
            @Html.Raw(Model.Error.Item2)
        </div>
    </div>
}

<div class="content text-wrap" style="display: flex; flex-direction: row; align-items: baseline;">
    <form method="post" asp-page-handler="ChangeEmail">
        <div class="form-group" style="margin-bottom: 5%; display: flex; flex-direction: column;">
            <input asp-for="NewEmail" type="email" class="form-control" id="newemail" name="newemail" placeholder="Neue E-Email Adresse" required>
        </div>
        <button type="submit" class="btn btn-success" style="width: 100%;">Email Ändern<i class="fas fa-save" style="
      margin-left: 0.5em"></i></button>
    </form>

    <form method="post" asp-page-handler="ChangePassword" style="margin-top: 5%; margin-bottom: 5%; margin-left: 2%;">
        <div class="form-group" style="margin-bottom: 5%; display: flex; flex-direction: column;">
            <div class="input-group">
                <input asp-for="CurrentPassword" type="password" class="form-control" id="currentpassword" name="currentpassword" placeholder="Derzeitiges Passwort" required>
                <button tabindex="-1" type="button" class="btn btn-outline-secondary" onclick="TogglePassword('button1')"><i id="revealer1" class="fa-regular fa-eye-slash" aria-hidden="true"></i></button>
            </div>
            
        </div>
        <div class="form-group" style="margin-bottom: 5%; display: flex; flex-direction: column;">
            <div class="input-group">
                <input asp-for="NewPassword" type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Neues Passwort" required>
                <button tabindex="-1" type="button" class="btn btn-outline-secondary" onclick="TogglePassword('button2')"><i id="revealer2" class="fa-regular fa-eye-slash" aria-hidden="true"></i></button>
            </div>
            
        </div>
        <div class="form-group" style="margin-bottom: 5%; display: flex; flex-direction: column;">
            <div class="input-group">
                <input asp-for="NewPasswordConf" type="password" class="form-control" id="newpasswordconf" name="newpasswordconf" placeholder="Passwort bestätigen" required>
                <button tabindex="-1" type="button" class="btn btn-outline-secondary" onclick="TogglePassword('button3')"><i id="revealer3" class="fa-regular fa-eye-slash" aria-hidden="true"></i></button>
            </div>
            <button type="submit" class="btn btn-success" style="margin-top: 5%;">Passwort Ändern <i class="fas fa-save" style="
      margin-left: 0.5em"></i></button>
        </div>
    </form>

    <style>
    .checkbox-group {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75em;
      justify-content: space-between;
      max-width: 400px; /* Adjust the maximum width as needed */
    }

    .checkbox-item {
      display: flex;
      align-items: center;
    }

    .checkbox-item label {
      width: 110px; /* Adjust the width as needed */
    }
  </style>

    <form asp-page-handler="ChangeAbsence" method="post" id="absentForm" style="margin-top: 5%; margin-bottom: 5%; margin-left: 2%;">
        <div class="checkbox-group">
            <div class="checkbox-item">
                <label asp-for="Monday" for="monday">Montag</label>
                <input value="1" type="checkbox" class="form-check-input" id="monday" name="monday">
            </div>

            <div class="checkbox-item">
                <label asp-for="Tuesday" for="tuesday">Dienstag</label>
                <input value="2" type="checkbox" class="form-check-input" id="tuesday" name="tuesday">
            </div>

            <div class="checkbox-item">
                <label asp-for="Wednesday" for="wednesday">Mittwoch</label>
                <input value="3" type="checkbox" class="form-check-input" id="wednesday" name="wednesday">
            </div>

            <div class="checkbox-item">
                <label asp-for="Thursday" for="thursday">Donnerstag</label>
                <input value="4" type="checkbox" class="form-check-input" id="thursday" name="thursday">
            </div>

            <div class="checkbox-item">
                <label asp-for="Friday" for="friday">Freitag</label>
                <input value="5" type="checkbox" class="form-check-input" id="friday" name="friday">
            </div>
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 10%; width: 100%;">Abwesenheit speichern<i class="fas fa-save" style="margin-left: 0.5em;"></i></button>
    </form>


    <div class="modal fade" id="errormodal" tabindex="-1" aria-labelledby="errormodallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errormodallabel">Fehler</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>